body{
    background-color: gray;
}
div {
    background-color: white;
}
.Main {
    text-align: center;
    height: 60px; width: 150px;
}
.Sub {
    width: 200px;
    display: inline-block;
    margin: 50px;
}